tr.odd, tr.even {
        padding: 4px 6px;
        border-bottom:1px solid #ddd;
        border-left:1px solid #ddd;
	background-color:transparent;
}
td.active {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 4px 6px;
	background-color:#e5e5e5;
}
table.tablemanager {
	border-right:1px solid #ddd;
        background-image:url(bg_fade.png);
        background-repeat:repeat-x;
        background-position:left top;
}
