/* Edit Table */

table#tablemanager-table-edit  {
  margin: 1em 0;
  width: 100%;
}
table#tablemanager-table-edit thead th {
  padding: .2em .6em;
  text-align: center;
  color: #494949;
  font-weight: bold;
}
table#tablemanager-table-edit td {
  text-align: center;
}
