table#tablemanager-admin {
  margin: 1em 0;
  width: 100%;
}
table#tablemanager-admin thead th {
  padding: .2em .6em;
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}
table#tablemanager-admin thead th a {
  color: #000000;
}
table#tablemanager-admin thead th a.active {
  font-size: 115%;
}
table#tablemanager-admin tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}
table#tablemanager-admin tr.odd, tr.info {
  background-color: #edf5fa;
}
table#tablemanager-admin tr.even {
  background-color: #fff;
}
table#tablemanager-admin tr.drag {
  background-color: #fffff0;
}
table#tablemanager-admin tr.drag-previous {
  background-color: #ffd;
}
table#tablemanager-admin tr.odd td.active {
  background-color: #ddecf5;
}
table#tablemanager-admin tr.even td.active {
  background-color: #e6f1f7;
}
table#tablemanager-admin th.operations {
  text-align: center;
}
table#tablemanager-admin td.operations {
  color: #fff;
  text-align: center;
  font-weight: bold;
}
table#tablemanager-admin td.operations.checkboxes {
  border-left: 2px solid #d3e7f4;
}
table#tablemanager-admin td.operations.edit {
  border-left: 2px solid #d3e7f4;
}
table#tablemanager-admin td.operations.delete {
  border-right: 2px solid #d3e7f4;
}
table#tablemanager-admin tr.info {
  border: 2px solid #d3e7f4;
}
table#tablemanager-admin tr.selected {
  border: 2px solid #d3e7f4;
}
table#tablemanager-admin tr.selected td {
  background: #027ac6;
  color: #fff;
}
table#tablemanager-admin tr.selected td.active {
  background: #0287f4;
  color: #fff;
}
