ul.tabNavigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.tabNavigation li {
  display: inline;
}
ul.tabNavigation li a {
  padding: 3px 5px;
  background-color: #ccc;
  color: #000;
  text-decoration: none;
}
ul.tabNavigation li a.selected,
ul.tabNavigation li a:hover {
  background-color: #333;
  color: #fff;
  padding-top: 7px;
}
ul.tabNavigation li a:focus {
  outline: 0;
}
div.tabs > div {
  padding: 5px;
  margin-top: 0px;
  border: 1px solid;
}
div.tabs > div h2 {
  margin-top: 0;
}
table#tablemanager-example-table {
  width: 75%;
  margin: auto;
}
